.title1 {
    font-weight: 700;
    font-size: 78px;
    line-height: 1;
    color: $black-color;
}
.title2 {
    font-weight: 700;
    font-size: 54px;
    line-height: 1.3;
    color: $black-color;
}
.title3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.3;
    color: $black-color;
}
.title4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3;
    color: $black-color;
}
.title5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: $black-color;
}
