@media (min-width: 1140px) {
    .container {
        width: 1140px;
    }   
    .nav-tablet {
        display: none;
    }
    .header__nav {
        display: none;
    }
    .header__content-img-mobile {
        display: none;
    }
}