@media (max-width: 1139px) {
    .container {
        width: 900px;
    }
    .header {
        padding-bottom: 60px;
        padding-top: 40px;
    }
    .nav-tablet {
        display: none;
    }
    .header__nav {
        display: none;
    }
    .header__wrapper {
        margin-bottom: 55px;
    }
    .nav__list li {
        font-size: 18px;
    }
    .nav__list > * + * {
        margin-left: 50px;
    }
    .icon-github use {
        width: 36px;
        height: 36px;
    }
    .title1 {
        font-size: 58px;
    }
    .header__content-desc {
        padding-top: 10px;
        width: 420px;
    }
    .header__content-desc p {
        margin-top: 20px;
        font-size: 18px;
    }
    .header__buttons {
        margin-bottom: 28px;
    }
    .header__buttons > * + * {
        margin-left: 15px;
    }
    .button {
        padding-left: 26px;
        padding-right: 26px;
        height: 58px;
        line-height: 58px;
    }
    .content-img {
        max-width: 376px;
    }
    .header__content-img-mobile {
        display: none;
    }
    .shadow {
        box-shadow: none;
    }
    .header__img {
        margin-top: -105px;
    }
    .header__about-title {
        margin-bottom: 20px;
    }
    .title3 {
        font-size: 32px;
    }
    .header__about {
        margin-top: -110px;
    }
    .header__about-skills {
        width: 493px;
    }
    .header__about-list li {
        font-size: 18px;
    }
    .social-icons > * + * {
        margin-left: 20px;
    }
    .link {
        font-size: 18px;
    }
    .portfolio {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .portfolio__cards {
        margin-bottom: 0;
    }
    .portfolio__title {
        margin-bottom: 40px;
    }
    .title2 {
        font-size: 42px;
    }
    .card--big {
        min-width: 420px;
        margin-bottom: 40px;
    }
    .card--big .title4 {
        font-size: 24px;
    }
    .card {
        width: 270px;
    }
    .card__text {
        padding-top: 10px;
    }
    .title4 {
        font-size: 18px;
    }
    .card__text p {
        font-size: 14px;
        margin-top: 4px;
    }
    .card--big .card__text p {
        margin-top: 6px;
        font-size: 16px;
    }
    .timeline {
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .timeline__title {
        margin-bottom: 50px;
    }
    .timeline__column {
        width: 750px;
    }
    .br {
        display: none;
    }
    .title5 {
        font-size: 20px;
    }
    .timeline-item__desc, .timeline-item__time {
        font-size: 14px;
    }
    .contacts {
        padding-top: 40px;
        padding-bottom: 70px;
    }
    .contacts__title {
        margin-bottom: 40px;
    }
    .contacts__row-left {
        width: 376px;
    }
    .contacts__list {
        margin-bottom: 25px;
    }
    .contacts__list-item {
        margin-bottom: 16px;
    }
    .contacts__list-item p {
        font-size: 18px;
        line-height: 1.6;
        min-width: 103px;
    }
    .contacts__list-item a {
        margin-left: 36px;
    }
    .contacts__text p{
        font-size: 16px;
        width: 420px;
    }
    .button--submit {
        display: inline-block;
    }
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .footer__desc {
        font-size: 14px;
    }
}