@media (max-width: 899px) {
    .container {
        width: 768px;
    }
    .header {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .nav-sticky {
        display: none;
    }
    .header__wrapper {
        display: none;
    }
    .nav-tablet {
        display: flex;
    }
    .title1 {
        font-size: 42px;
        line-height: 1;
    }
    .gradient-line.title1 {
        background-position: left bottom 7px;
        background-size: 100% 8px;
    }
    .header__content-desc {
        width: 354px;
        padding-top: 0;
    }
    .header__content-desc p {
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 16px;
    }
    .button {
        display: none;
    }
    .content-img {
        max-width: 290px;
    }
    .header__content-img-mobile {
        display: none;
    }
    .shadow {
        box-shadow: none;
    }
    .header__img {
        margin-top: -110px;
    }
    .header__about-title {
        margin-bottom: 20px;
    }
    .title3 {
        font-size: 24px;
    }
    .header__about {
        margin-top: -110px;
    }
    .header__about-skills {
        width: 354px;
    }
    .header__about-list li {
        font-size: 16px;

        &::before {
            display: none;
        }
    }
    .icons {
        width: 38px;
        height: 38px;
    }
    .portfolio {
        padding-bottom: 40px;
    }
    .portfolio__cards {
        margin-bottom: 0;
    }
    .portfolio__title {
        margin-bottom: 30px;
    }
    .title2 {
        font-size: 42px;
    }
    .gradient-line.title2 {
        background-position: left bottom 7px;
        background-size: 100% 8px;
    }
    .card--big {
        min-width: 354px;
        margin-bottom: 20px;
    }
    .card--big .title4 {
        font-size: 18px;
    }
    .card--big .card__text p {
        margin-top: 4px;
        font-size: 14px;
    }
    .card {
        width: 226px;
    }
    .card--big .card__text {
        padding-top: 10px;
    }
    .timeline {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .timeline__title {
        margin-bottom: 40px;
    }
    .timeline__column {
        width: 450px;
        margin-right: auto;
        margin-left: auto;
    }
    .timeline-item {
        padding-bottom: 45px;
    }
    .timeline-item__time {
        font-size: 14px;
    }
    .timeline-item__desc {
        margin-top: 7px;
    }
    .timeline-item__time {
        margin-top: 10px;
    }
    .contacts {
        padding-bottom: 40px;
    }
    .contacts__title {
        margin-bottom: 20px;
    }
    .contacts__row-left {
        width: 270px;
    }
    .contacts__text p{
        font-size: 14px;
        width: 290px;
    }
    .contacts__img {
        display: none;
    }
    .button--submit {
        display: inline-block;
    }
    .contacts__list-item--mobile {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 25px;
        }
    }
    .contacts__list-item--mobile p, .contacts__list-item--mobile a {
        font-size: 16px;
        margin-left: 0;
    }
    .contacts__row-right {
        margin-left: 114px;
    }
    .contacts__row-right p {
        font-size: 14px;
        width: 290px;
    }
    .footer__desc p {
        margin-bottom: 15px;
    }
}
