.footer {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #1A1A1A;
    color: #FFFFFF;
}
.footer__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.footer__nav {
    margin-right: 40px;
}
.footer__nav-item {
    margin-right: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.3s;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        color: #15D784;
    }
}
.footer__social {
    display: flex;
}
.footer__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 48px;
    height: 48px;
    background: rgba(196, 196, 196, 0.1);
    border-radius: 50%;
    transition: 0.3s;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background: #00C470;
    }
}
.footer__nav-copyright {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.3);
}
.footer__nav-copyright p + p {
    margin-bottom: 15px;
}