.button {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    height: 64px;
    border-radius: 50px;
    background-color: #FBDC4D;
    font-weight: 700;
    font-size: 20px;
    line-height: 64px;
}
.button--transparent {    
    background-color: #EFF7FC;
}