.header {
    margin-top: 60px;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;

}
.header__icons {
    align-items: center;
    margin-top: -18px;
}
.header__icons > * + * {
    margin-left: 26px;
}
.header__content {
    display: flex;
    align-items: flex-end;
}
.header__content-desc {
    max-width: 542px;
    margin-right: 95px;
}
.header__content-desc p {
    max-width: 540px;
    margin-top: 30px;
    font-size: 22px;
    line-height: 1.6;
}
.content-img {
    box-shadow: 40px 40px 2px 1px rgba(255, 255, 255, 0.5);
}
.header__img {
    width: 100%;
    
}
.image {
    z-index: -9;
    margin-top: -150px;
    margin-bottom: -30px;
    margin-left: auto;
    margin-right: auto;
}
.header__buttons {
    margin-top: 30px;
}
.header__buttons > * + * {
    margin-left: 20px;
}
