/*
font-family: 'Lobster', cursive;
*/

*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container {
    width: 1170px;
    margin: 0 auto;
}

/* header */
.header {
    position: relative;
    height: 800px;
    padding-top: 50px;
    background-color: #265847;
    background-image: url('./../img/header/Rectangle\ 1.jpg');
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
}
.header-inner {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #265847;
    background-image: url('./../img/header/header-small-bg.jpg');
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1170px;   
}
.logo {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}
.header-nav {
    font-size: 22px;
    color: #FFFFFF;
}
.header-nav-list {
    display: flex;
}
.header-nav-list-item:not(:last-child) {
    margin-right: 50px;
}
.header-nav-link {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.6s;
}
.header-nav-link:hover {
    color: #15361c;
    text-shadow: 8px 10px 12px #FFFFFF, -8px -10px 12px #FFFFFF;
    font-weight: 700;
}
.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 1170px;
    padding-top: 15px;
}
.header-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 60px;
}
.header-content p {
    margin: 0;
    font-size: 24px;
}
.header-scroll {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    padding-bottom: 34px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.header-scroll::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../img/header/arrow-down.png');
}

/* Main */
.main {
    padding-top: 120px;
    padding-bottom: 120px;
}
.main-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.main-row:last-child {
    margin-bottom: 0;
}
.main-row:nth-child(even) {
    flex-direction: row-reverse;
}
.main-content {
    width: 470px;
}
.main-header {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 54px;
    color: #31405B;
}
.main-content-text {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.6;
    color: #31405B;
}
.main-content-text a {
    color: #138ECE;
}
.main-content-text p {
    margin-top: 0;
    margin-bottom: 15px;
}
.main-img {
    width: 570px;
}
.button {
    display: inline-block;
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    background: #0AC883;
    box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
    border-radius: 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px; /* чтобы текст был четко по центру */
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.6s;
}
.button:hover {
    background: #15361c;
    box-shadow: 3px 10px 23px rgba(10, 102, 68, 0.35);
}

/* Footer */
.footer {
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: #265847;
    color: #FFFFFF;
}
.footer a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.6s;
}
.footer a:hover {
    text-decoration: underline;
    color: #15361c;
    text-shadow: 5px 5px 10px #FFFFFF, -5px -5px 10px #FFFFFF;
}
.footer-row {
    display: flex;
    justify-content: space-between;
}
.footer-widgets-wrapper {
    display: flex;
    padding-top: 10px;
}
.footer-copyright {
    width: 270px;
}
.footer-copyright p {
    font-size: 16px;
    line-height: 1.6;
}
.footer-logo {
    margin-bottom: 26px;
}
.footer-widget {
    font-size: 18px;
}
.footer-widget-info {
    width: 170px;
}
.footer-widget-services, .footer-widget-contacts {
    width: 270px;
}
.footer-widget + .footer-widget {
    margin-left: 30px;
}
.footer-widget-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
}
.footer-widget p {
    margin-top: 0;
    margin-bottom: 15px;
}
.footer-widget-list li {
    margin-bottom: 15px;
}

/* Inner page Tours */
.inner-page-tours {
    padding-top: 60px;
    padding-bottom: 100px;
}
.inner-page-tours-header {
    margin-bottom: 60px;
    text-align: center;
}
/* cards */
.card-link-wrapper {
    color: #FFFFFF;
    text-decoration: none;
}
.card-link-wrapper:hover {
    opacity: 0.6;
}
.cards-first-row {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.cards-second-row {
    display: flex;
    justify-content: space-between;
}
.cards-second-row a {
    display: block;
}
.cards-second-row-column > * + * {
    margin-top: 30px;
}
.card-1, .card-2 {
    width: 570px;
    height: 435px;
}
.card-3, .card-4 {
    width: 670px;
    height: 365px;
}
.card-5 {
    width: 470px;
    height: 760px;
}
.card-title-wrapper {
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #A6A6A6;
    color: #FFFFFF;
    overflow: hidden;
    white-space: nowrap;
}
.card-title-wrapper.sand-color {
    background-color: #C1B19B;
}
.card-title-wrapper.water-color {
    background-color: #66B0BE;
}
.card-title-wrapper.mount-color {
    background-color: #876F56;
}
.card-title-wrapper.jungle-color {
    background-color: #27695E;
}
.card-title {
    font-weight: 700;
    font-size: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
}
