.portfolio {
    padding-top: 80px;
    padding-bottom: 90px;
    background: linear-gradient(0deg, #F5FBFF, #F5FBFF), #F4F8F9;
}
.portfolio__title {
    margin-bottom: 30px;
}
.mix-block__links {
    margin-bottom: 33px;

    @media (max-width: 767px) {
        display: none;
    }
}
.mix-block__links button {
    font-weight: 700px;
    font-size: 24px;
    line-height: 1.3;
    color: #9EC2D0;
    transition: color 0.2s ease-in;

    &:hover, &:active, &:focus {
        color: #FF543E;
    }
}
.mix-block__links button.control-active {
    color: $black-color;
}

.mix-block__links > * + * {
    margin-left: 70px;
}
.portfolio__cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.card {
    display: block;
    margin-left: 15px;
    margin-right: 15px;
}
.card:hover .card__img:before {
    transform: translateY(0);
}
.card:hover .card__img span {
    opacity: 1;
}
.card__img {
    position: relative;
    overflow: hidden;
}
.card__img:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(255, 221, 85, 0.75);
    transform: translateY(100%);
    transition: hover 0.2s ease-in;
}
.card__img span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 18px;
    height: 51px;
    line-height: 51px;
    border-radius: 80px;
    color: #FFFFFF;
    background-color: #EF6857;
    z-index: 3;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.card--big {
    max-width: 540px;
    margin-bottom: 50px;
}
.card--big .title4 {
    font-size: 30px;
}
.card--big .card__text p {
    margin-top: 8px;
    font-size: 20px;
}
.card__text {
    padding-top: 16px;
}
.card--big .card__text {
    padding-top: 20px;
}
.card__text p {
    margin-top: 6px;
    font-size: 18px;
    line-height: 1.3;
    color: $black-color;
}
